<%# Start of Body style %>
<%# <body style= "
  background: -webkit-linear-gradient(180deg, #19a6c3, #1de790);
  background: -moz-linear-gradient(180deg, #19a6c3, #1de790);
  background: -ms-linear-gradient(180deg, #19a6c3, #1de790);
  background: -o-linear-gradient(180deg, #19a6c3, #1de790);
  background: linear-gradient(180deg, #19a6c3, #1de790);
  background-repeat: repeat-x;
">
</body> %>
<%# End of body style %>

<%# Start of Banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @cocktail.photo.key, height: 400, width: 800, crop: 'fill' %>);">
  <div class="container text-center">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>
<%# End of Banner %>

<%# Start of cocktail show %>
<div class="container cocktail-show">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card card-block-show mx-auto">
            <div class="card-body">

                <div class="row justify-content-between">

                  <%# Create Cocktail Ingredients %>
                  <div class="col-sm-4">
                  <h3 class="my-3">Add an Ingredient</h3>
                  <%# <%= link_to 'Add Ingredient',  new_cocktail_dose_path(@cocktail), class: "btn btn-danger" %>
                    <%= simple_form_for [ @cocktail, @dose ] do |f| %>
                      <%= f.input :description %>
                      <%= f.association :ingredient  %>
                      <%= f.submit "Submit", class: "btn btn-danger" %>
                    <% end %>
                  </div>

                  <%# Display Cocktail Ingredients %>
                  <div class="col-sm-6">
                  <h3 class="my-3">Ingredients</h3>
                    <ul class="list-group list-group-flush">
                      <% @cocktail.doses.each do |dose| %>
                        <div class="px-0 list-group-item d-flex align-items-center">
                          <i class="far fa-check-circle fs-4 mr-3"></i>
                          <%= dose.ingredient.name %> -
                          <%= dose.description %>
                          <div class="ml-auto">
                            <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure you wanto    delete #{dose.description}?" } do %>
                              <i class="far fa-trash-alt"></i>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    </ul>
                  </div>
                </div>

                <%# Add A review card %>
                <div class="row my-5">
                  <div class="col-sm-12">
                  <h3 class="mb-3">Add a review for this cocktail</h3>
                  <%= simple_form_for [ @cocktail, @review ] do |f| %>
                    <%= f.input :content %>
                    <%= f.input :rating, collection: (1..5)%>
                    <%= f.submit "Submit review", class: "btn btn-danger" %>
                  <% end %>
                  </div>
                </div>

                <%# Reviews %>
                <div class="row my-5">
                  <div class="col-sm-12">
                  <h3 class="mb-3">Reviews</h3>
                  <ul class="list-group">
                    <% @cocktail.reviews.each do |review| %>
                      <div class="px-0 list-group-item d-flex align-items-center">
                        <div>
                          <%= image_tag "https://github.com/cuneyter.png", class: "avatar-bordered", alt: "avatar-bordered" %>
                        </div>
                        <div>
                          <div>
                          </div>
                          <div>
                          </div>
                        </div>

                      </div>
                      <li class="list-group-item"><strong>Rating:</strong>  <%= review.rating %> - <strong>Comments:</strong> <%= review.content %></li>
                    <% end %>
                  </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<%# End of cocktail show %>

<%# Start of Footer Render %>

<%= render "shared/footer" %>

<%# Enf of Footer Render %>
