<h1>My cocktail</h1>
<h2><%= @cocktail.name %></h2>

<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item"><strong>Dose:</strong>  <%= dose.description %> --- <strong>Ingredient:</strong>  <%= dose.ingredient.name %> ---
    <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure you want to delete #{dose.description}?" } do %>
        <i class="bi bi-trash" aria-hidden="true"></i>
    <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', cocktails_path, class: "btn btn-primary" %>
<%= link_to 'Add a dose and ingredient',  new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>

